.DS_Store
StudioMuse/Gimp3Plugindocumentation.txt
StudioMuse/docs.text
StudioMuse/gimp_api_documentation.txt
StudioMuse/ProjectOverview.md
StudioMuse/docs/errorLog.txt
StudioMuse/docs/phase2Refactor/futureDev.md
StudioMuse/docs/phase2Refactor/suiteUpdate.md
StudioMuse/docs/phase2Refactor/refactorTree.txt
