.DS_Store
StudioMuse/Gimp3Plugindocumentation.txt
StudioMuse/docs.text
StudioMuse/gimp_api_documentation.txt
StudioMuse/ProjectOverview.md
StudioMuse/docs/errorLog.txt
StudioMuse/plugins/colorBitMagic/assets/QuickTimePlayer7.6.6_SnowLeopard.dmg
